if SHIELD_MOGA_R

config ZMK_KEYBOARD_NAME
    default "moGa_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MOGA_L

config ZMK_KEYBOARD_NAME
    default "moGa_L"

config ZMK_SPLIT
    default y

endif
